body {
    background-image: url('./images/stars.jpg');
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

  /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}

/*webName nav style in html.index*/
nav {
    margin: 10px;
    right: 5px;
    position: fixed;
}

.headLeftTag > span > a {
    position: fixed;
    left: 20px;
    line-height: 27px;
    font-weight: 900;
    font-size: 20px;
    text-decoration: none;
    color: white;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}

.headLeftTag > span > a:hover {
    color: goldenrod;
}

.headLeftTag > span > a:active {
    color: gold;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    font-size: 13px;
    line-height: 30px;    
    display: inline;
    margin: 10px;
}

ul li a {
    text-decoration: none;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    transition: .4s ease-in-out;
}    

ul li a:hover {
    color: goldenrod;
}

.intro {
    padding: 155px;
}

.introBox {
    overflow: hidden;
    margin: auto;
    text-align: center;
    animation-name: introName;
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
}


.intro .introBox p {
    color: white;
    white-space: nowrap;
    animation-name: headColor;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    font-size: 150px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

@keyframes headColor {
    0% {color:white;}
    50% {color: silver;}
    100% {color: white;}
}

@keyframes introName {
    from{
        width: 0px;
    }
    to {
        width: 710px;
    }
    
}


@media screen and (max-width: 800px) {
    .webName span {
        font-size: 14px;
        line-height: 2.3;
    }
    @keyframes introName {
        from {width: 0px;}
        to {width: 250px;}
    }
    li {font-size: 12px; margin: 3px; }
    .intro {clear: both; padding: 150px 0;}
    .intro .introBox p {font-size: 50px;}
    .introBox {width: 100%;}
}

section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    position: relative;
    z-index: -1;
}

.sectionBox {
    width: 800px;
    margin: auto;
}

section h1 {
    text-align: center;
    text-decoration: underline red;
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.sectionBox p {
    color: white;
    font-size: 3vw;
    text-align: justify;
}

@media screen and (max-width: 600px){
    section {
        height: 200px;
        position: relative;
        text-align: center;
}
    .sectionBox {
        text-align: center;
        width: 300px;
    }
    section h1 {
        text-align: center;
        font-size: 30px;
    }

    .sectionBox p {
        font-size: 20px;
    }
}



