* , html , body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('./images/sars.jpg');
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

::-webkit-scrollbar {
    width: 10px;
}

  /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: goldenrod; 
}

/*webName nav style in html.index*/
nav {
    margin: 10px;
    right: 5px;
    position: fixed;
}

.headLeftTag > span > a {
    position: fixed;
    left: 20px;
    line-height: 27px;
    font-weight: 900;
    font-size: 20px;
    text-decoration: none;
    color: white;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}

.headLeftTag > span > a:hover {
    color: goldenrod;
}

.headLeftTag > span > a:active {
    color: gold;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    font-size: 13px;
    line-height: 30px;    
    display: inline;
    margin: 10px;
}

ul li a {
    text-decoration: none;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    transition: .4s ease-in-out;
}    

ul li a:hover {
    color: goldenrod;
}

.intro-box {
    position: relative;
    top: 20vh;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.firstTxt {
    position: relative;
    text-align: center;
    width: 550px;

}

.box-animated-ftxt {
    position: absolute;
    height: 140px;
    background-color: gold;
    border-radius: 0px 10px 10px 0px;
    z-index: 1000;
    animation: ftxt 2s forwards;
    -webkit-animation: ftxt 2s forwards;
}

@keyframes ftxt {
    0% {width: 550px;}
    100% {width: 0;}
}

.secondTxt {
    position: relative;
    text-align: center;
    width: 550px;
}

.box-animated-stxt {
    position: absolute;
    width: 0;
    height: 140px;
    background-color: gold;
    z-index: 1000;
    animation: ftxt 3s forwards;
    -webkit-animation: ftxt 3s forwards;
    border-radius: 0px 10px 10px 0px;
}

@keyframes stxt {
    0% {width: 550px;}
    100% {width: 0;}
}

.txt {
    color: white;
    font-size: 120px;
}


@media screen and (max-width: 600px) {
    .intro-box {
        width: 470px;
        height: 400px;
        display: flex;
    }
    
    .firstTxt {
        position: relative;
        text-align: center;
        width: 550px;
    
    }
    
    .box-animated-ftxt {
        position: absolute;
        height: 140px;
        background-color: gold;
        border-radius: 0px 10px 10px 0px;
        z-index: 1000;
        animation: ftxt 2s forwards;
        -webkit-animation: ftxt 2s forwards;
    }
    
    @keyframes ftxt {
        0% {width: 550px;}
        100% {width: 0;}
    }
    
    .secondTxt {
        position: relative;
        text-align: center;
        width: 550px;
    }
    
    .box-animated-stxt {
        position: absolute;
        width: 0;
        height: 80px;
        background-color: gold;
        z-index: 1000;
        animation: ftxt 3s forwards;
        -webkit-animation: ftxt 3s forwards;
        border-radius: 0px 10px 10px 0px;
    }
    
    .txt {
        font-size: 70px;
    }
}

.section-wrapper {    
    position: relative;
    width: 900px;
    height: fit-content;
    top: 70vh;
    z-index: -1;
    margin: auto;
}

.sectionBox {
    width: 820px;
    margin: auto;
    padding: 2% 5%;
}

.boxAnimated {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background-color: gold;
    animation: box 2s 5s forwards;
    -webkit-animation: box 2s 5s forwards;
}


.sectionBox h1 {
    width: fit-content;
    margin: auto;
    text-align: center;
    border-bottom: 5px solid goldenrod;
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.sectionBox p {
    color: white;
    font-size: 40px;
    text-align: justify;
    margin: 10px;
}

@keyframes box {
    from{width: 100%;}
    to{width: 0;}
}

/*media queries for phone*/

@media screen and (max-width: 600px){
    .section-wrapper {
        width: 470px;
        top: 300px;
    }
    .boxAnimated {
        height: 260px;
    }
    .sectionBox {
        width: 400px;
    }
    .sectionBox h1 {
        font-size: 20px;
    }
    .sectionBox p {
        font-size: 20px;
    }
    
}



